.title
{
  font-weight: bold;
  font-size: 64px;
  color: rgb(39, 133, 187);
}

.subtitle
{
  font-weight: bold;
  font-size: 32px;
  padding-left: 16px;
  color: rgb(39, 133, 187);
}

.subheading
{
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  border-bottom: rgb(39, 133, 187) 2px solid;
  color: rgb(39, 133, 187);
  margin-bottom: 2vh;
}

.info
{
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  color: rgb(116, 116, 116);
}

button
{
  font-size: 24px;
  color: rgb(39, 133, 187);
  background-color: rgb(220, 220, 241);
  border-color: transparent;
  border-radius: 5px;
  margin: 0.2em;
}