.title
{
  font-weight: bold;
  font-size: 64px;
  color: rgb(39, 133, 187);
}

.subtitle
{
  font-weight: bold;
  font-size: 32px;
  padding-left: 16px;
  color: rgb(39, 133, 187);
}

.heading
{
  font-weight: bold;
  font-size: 28px;
  width: 90%;
  /* border-bottom: rgb(39, 133, 187) 2px solid; */
  color: rgb(39, 133, 187);
  margin-bottom: 2.5vh;
}

.subheading
{
  font-weight: bold;
  font-size: 18px;
  width: 90%;
  border-bottom: rgb(39, 133, 187) 2px solid;
  color: rgb(39, 133, 187);
  margin-bottom: 2vh;
}

.info
{
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  color: rgb(116, 116, 116);
}

button
{
  font-size: 24px;
  color: rgb(39, 133, 187);
  background-color: rgb(220, 220, 241);
  border-color: transparent;
  border-radius: 5px;
  margin: 0.2em;
}

.danger
{
  color: darkred;
  background-color: rgb(241, 156, 156);
}

.sidebar
{
  background-color: rgb(39, 133, 187);;
  flex: 1;
  flex-grow: 0;
}

.sidebar > div
{
  background-color: rgb(39, 133, 187);
  border: 3px solid transparent;
  transition: 0.25s;
}
.sidebar > .selected
{
  filter: brightness(85%);
  border-left: 3px solid lightblue;
}